.feature-item {
  position: relative;
  padding-bottom: 1.5rem;

  @mixin smallAndAbove {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @mixin smallAndAbove {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: 1.2rem;

    @mixin smallAndAbove {
      margin-top: 1em;
      text-align: left;
      font-size: 1.875rem;
    }
  }

  &--top-margin-until-medium {
    margin-top: 4.063rem;
    @mixin mediumAndAbove {
        margin-top: initial;
    }
  }
}
