.page-section {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  @mixin mediumAndAbove {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  &--testimonials {
    background-color: #E0E6EF;
    @mixin largeAndAbove {
      &.lazyloaded {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }

  &--no-bot-padding-until-medium {
    padding-bottom: 0;

    @mixin mediumAndAbove {
      padding-bottom: 3.5rem;
    }
  }

  &--no-bot-padding-until-large {
    padding-bottom: 0;

    @mixin mediumAndAbove {
      padding-bottom: 3.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }
}
