.primary-nav {
  padding-top: 10px;
  @mixin mediumAndAbove {
    padding-top: 0;
  }

  &--pull-right {
    @mixin mediumAndAbove {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    display: inline-block;
    list-style-type: none;
    font-size: 0.95rem;
    @media (min-width: 400px) {
      font-size: 1rem;
      padding-right: 0.7rem;
    }
    @mixin mediumAndAbove {
      float: left;
      display: list-item;
      padding-right: 1.25rem;
      background-color: transparent;
    }
  }

  li:last-child {
    padding-right: 0;
    @mixin mediumAndAbove {
      padding-right: 1.25rem;
    }
  }

  a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    display: inline-block;
    padding: 12px 3px;
    background-color: rgba($mainBlue, .6);
    margin-bottom: 10px;
    @mixin mediumAndAbove {
      background-color: transparent;
      margin-bottom: 0;

      &.is-current-link {
        color: #FABB69;
      }
    }
  }

}
