.row {

  @mixin clearfix;

  @mixin mediumAndAbove {
    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div[class^="row__"] {
    padding-right: 65px;
  }

  &--gutters-smaller {
    margin-right: -15px;
  }

  &--gutters-smaller > div[class^="row__"] {
    padding-right: 15px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters-small > div[class^="row__"] {
    padding-right: 45px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-large > div[class^="row__"] {
    padding-right: 100px;
  }

  &--top-padding {
    padding-top: 100px;
  }

  @mixin mediumToLarge {
    &--change-gutters-to-small-at-medium {
      margin-right: -45px;
    }

    &--change-gutters-to-small-at-medium > div[class^="row__"] {
      padding-right: 45px;
    }
  }

  @mixin largeAndAbove {
    &--change-gutters-to-medium-at-large {
      margin-right: -70px;
    }

    &--change-gutters-to-medium-at-large > div[class^="row__"] {
      padding-right: 70px;
    }

    &--change-gutters-to-large-at-large {
      margin-right: -100px;
    }

    &--change-gutters-to-large-at-large > div[class^="row__"] {
      padding-right: 100px;
    }
  }

  &--equal-height-at-medium {
    @mixin mediumAndAbove {
      display: flex;

      & > div[class^="row__"] {
        float: none;
        display: flex;
      }
    }
  }

}
