.site-footer {
  background-color: $mainBlue;
  padding-top: .5rem;
  padding-bottom: .4rem;
  text-align: center;
  color: #FFF;

  &__text {
    display: block;
    font-weight: 200;
    margin-bottom: 1rem;
    @mixin mediumAndAbove {
      display: inline;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}
